<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>智能导购后台页面</title>

    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
  </head>

  <body>
    <div class="x-body layui-anim layui-anim-up">
          <div class="layui-form-item">
              <label for="discountRuleID" class="layui-form-label">
                  <span class="x-red">*</span>优惠规则ID
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="discountRuleID" name="goods_num" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="discountRuleID" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="" onclick="submitAdd()">
                  查询
              </button>

          </div>
    </div>

    <fieldset class="layui-elem-field">
        <legend>结果</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>查询结果</th>
                    <td  id="result"></td></tr>
            </table>
        </div>
    </fieldset>

  </body>
<script>
 function submitAdd() {
        var discountRuleID = document.getElementById('discountRuleID').value;
        axios.get('http://161.189.141.136:9200/QueryParticipation', {params:{discountRuleID: discountRuleID}})
        .then(function (res) {
            console.log(res);
            document.getElementById('result').innerText = res.data.result;
        });
    }
</script>
</html>
