<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/InitRule" method="post">

    <div>
        <input type="text" name="goodID"/>
    </div>
    <div>
        <input type="text" name="groupNum"/>
    </div>
    <div>
        <input type="text" name="firstBuyerPrice"/>
    </div>
    <div>
        <input type="text" name="otherBuyerPrice"/>
    </div>
    <input type="submit" value="submit" />

</form>
</body>
</html>